@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Bitter&display=swap");

body {
  background-image: url(gato2.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}

/*Header,logo, menu, btns */

.header {
  display: flex;
  flex-direction: row;
  background-color: rgb(10, 10, 10);
  font-size: 15px;
  padding: 5px;
  color: #efe9e9;
  margin-bottom: 15rem;
}

.logo {
  padding: 0.25rem;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 1px;
}

.menu a {
  display: flex;
  color: white;
  text-decoration: none;
}

.menu {
  display: flex;
  justify-content: end;
  align-items: center;
  flex: 1;
  gap: 10rem;
}

.btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  border: 3px solid #efe9e9;
  border-radius: 20px;
  /* width: 300px; */
  width: 19rem;
  /* height: 50px; 1 rem:15.7 px */
  height: 3rem;
}
