* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bitter", serif;
  text-decoration: none;
  color: #efe9e9;
}

body {
  background-image: url(gato2.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

/*Header,Nav Bar, Container, H1 */
header {
  width: 100%;
  height: 10vh;
}

.container {
  display: flex;
  flex-direction: row;
  background-color: rgb(10, 10, 10);
  font-size: 15px;
  margin: 1px;
  padding: 5px;
  color: #efe9e9;
}

h1 {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding-left: 20px;
  letter-spacing: 1.5px;
}

nav {
  display: flex;
  flex: 1;
  flex-direction: row;
  cursor: pointer;
  color: #efe9e9;
  align-items: center;
}

nav .a {
  display: flex;
  flex: 1;
  flex-direction: row;
}

nav .b {
  display: flex;
  flex: 1;
  flex-direction: row;
}

nav .c {
  display: flex;
  flex: 1;
  flex-direction: row;
}

nav.d {
  display: flex;
  flex: 1;
  flex-direction: row;
}
/*Main, Buttons, Text*/
main {
  width: 100%;
  height: 89vh;
}

.btns {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
}

p {
  display: flex;
  flex-direction: column;
  font-size: 25px;
}

button {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 300px;
  height: 50px;
  border: 3px solid #efe9e9;
  border-radius: 20px;
  margin: 10px;
  font-size: 15px;
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
  background: transparent;
}
.I {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10%;
}

.II {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*Responsive 
-height:min 540
-width: 1000 - 800 
-change image background-size:auto for the other sizes
*/
