@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Bitter&display=swap");

body {
  background-image: url(gato2.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  text-decoration: none !important;
}

/*HEADER,LOGO,MENU */

.header {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  font-size: 15px;
  padding: 5px;
  color: #000;
  margin-bottom: 15rem;
  outline: 3px solid #000;
}

.logo {
  padding: 0.25rem;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 1px;
}

.menu a {
  display: flex;
  color: #000;
  text-decoration: none;
}

.menu {
  display: flex;
  justify-content: end;
  align-items: center;
  flex: 1;
  gap: 10rem;
}
/*BTNS, H2*/

h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: white;
  font-weight: bolder;
  margin-bottom: 1.5rem;
}
.btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
  font-weight: bold;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  border: 3px solid #fff;
  border-radius: 20px;
  /* width: 300px; */
  width: 19rem;
  /* height: 50px; 1 rem:15.7 px */
  height: 3rem;
}
